.footer {
  margin-top: 120px;
  display: flex;
  justify-content: flex-end;
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer p {
  color: #2A7BB6;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin-right: 8px;
}

.footer .link-item {
  margin-left: 18px;
}